<h2>The Product Component</h2>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td>
        <form>
        <div class="container">
          <div class="form-group">
              <label>Product Row Id</label>
              <input type="text" class="form-control" name="ProductRowId" [(ngModel)]="product.ProductRowId">
          </div>
          <div class="form-group">
            <label>Product  Id</label>
            <input type="text" class="form-control" name="ProductId" [(ngModel)]="product.ProductId">
          </div>
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" name="ProductName" [(ngModel)]="product.ProductName">
          </div>
          <div class="form-group">
            <label>Category Name</label>
            <select  class="form-control" name="CategoryName" [(ngModel)]="product.CategoryName">
              <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Manufacturers</label>
            <select  class="form-control" name="Manufacturer" [(ngModel)]="product.Manufacturer">
              <option *ngFor="let man of manufacturers" value="{{man}}">{{man}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="Description" [(ngModel)]="product.Description">
          </div>
          <div class="form-group">
            <label>Base Price</label>
            <input type="text" class="form-control" name="BasePrice" [(ngModel)]="product.BasePrice">
          </div>
          <div class="form-group">
             <input type="button" value="Save" class="btn btn-success" (click)="save()">
             <input type="button" value="Clear" class="btn btn-warning" (click)="clear()">
          </div>
        </div>
      </form>
      </td>
      <td>
        <app-datatable-component [DataSource]="products" [PageSize]="pageSize" [TotalPage]="totalPage"
         (selectedRow)="onSelectedProduct($event)" (deleteRow)="onDeleteProduct($event)" (selectedHeader)="onSelectedHeader($event)"
         (sortReverse)="onSortOrReverse($event)" (selectedPageSize)="onPageSizeSelect($event)" (selectedPage)="onPageSelect($event)"></app-datatable-component>
      </td>
    </tr>
  </tbody>
</table>
